<div id="details">
  <h2>{{ resultEvent.name }}</h2>
  <h3>{{ resultEvent.date }}</h3>
  <h3>{{ resultEvent.location }}</h3>
  <p>{{ resultEvent.description }}</p>
  <button *ngIf="isAuthenticated | async; else elseBlock" (click)="addFav(resultEvent.id)">Add to Favorites</button>
  <ng-template #elseBlock>
    <button routerLink="/authentication/login">Add to Favorites</button>
  </ng-template>
  <div *ngIf="isAuthenticated | async">
    <button *ngIf="isAdmin" (click)="deleteEvent(resultEvent.id); replaceDetails()">Delete Event</button>
  </div>
</div>
<br>
<button routerLink="/events"> Return to all events </button>
